@charset "UTF-8";

body{
    background: #BDB6B6;
}

div#bemvindo{
    position: absolute;
    width: 311px;
    height: 662px;
    left: 170px;
    top: 171px;
    background: #579AFF;
    border-radius: 26px 1px 1px 26px;
}

#corpo{
    position: absolute;
    width: 912px;
    height: 662px;
    left: 171px;
    top: 171px;
    background: #FFFFFF;
    box-shadow: 5px 4px 10px rgb(0 0 0 / 25%);
    border-radius: 26px;
}

#bem{
    padding-top: 16px;
    padding-left: 16px;
    padding-bottom: 16px;
    padding-right: 16px;
    position: absolute;
    width: 200px;
    height: 202px;
    left: 225px;
    top: 404px;
    font-weight: bold;
    color: white;
}

#campo{
    padding-top: 16px;
    padding-left: 16px;
    padding-bottom: 16px;
    padding-right: 16px;
    position: absolute;
    width: 314px;
    height: 258px;
    left: 172px;
    top: 482px;
    font-weight: bold;
    color: white; 
}

#botao{

    position: absolute;
    width: 208px;
    height: 50px;
    left: 748px;
    top: 742px;
    background: #579affd2;
    border-radius: 74px;
    font-style: normal;
    font-size: 20px;
    font-weight: bold;
}
#botao:hover{
    color: rgba(16, 4, 83, 0.411);
}

#seta{
    position: absolute;
    width: 45px;
    height: 40px;
    left: 518px;
    top: 761px;
    background: #ffffff;
    border-radius: 74px;
    font-style: normal;
    font-size: 20px;
    font-weight: bold;
}

#fisica{
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    position: absolute;
    width: 229px;
    height: 44px;
    left: 655px;
    top: 174px;
    font-weight: bold;
    color: rgb(10, 150, 175);
    font-size: 40px;
    display: block;
    border-width: 3px;
    border-style: dashed;
    border-color: #0000006b;

}
