@charset "utf-8";

body{
background: #BDB6B6;
margin: 20px center;
}

#azul{
display: inline-block;
width: 289px;
height: 661px;
left: 248px;
top: 171px;
margin: 0px center;
background: #579AFF;
border-radius: 26px 0px 0px 26px;
}

#cadasdro{
display: inline-block;
width: 944px;
height: 601px;
left: 28px;
top: 101px;
margin: 0px center;
background: #FFFFFF;
box-shadow: 5px 4px 10px rgba(0, 0, 0, 0.25);
border-radius: 26px;
}